/* Buttons */
/* Inputs */
/* Timeline custom component */
.timeline {
  border-left: 2px solid #E6E9ED;
  padding: 1rem 0;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-primary {
  border-left-color: #4A89DC;
}

.timeline-card-primary:before {
  border-color: #4A89DC;
}

.timeline-card-primary:after {
  background-color: #4A89DC;
}

.timeline-card-success {
  border-left-color: #37BC9B;
}

.timeline-card-success:before {
  border-color: #37BC9B;
}

.timeline-card-success:after {
  background-color: #37BC9B;
}

html {
  scroll-behavior: smooth;
}

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.8);
}

.nav-item+.nav-item {
  margin-left: 1rem;
}

.cover {
  border-radius: 10px;
}

.cover-bg {
  background-color: #4A89DC;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(57%2c 121%2c 187%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1047' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1047' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1041'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1042'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1044'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1043'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1045'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1046'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1047'%3e%3cuse xlink:href='%23SvgjsPath1041' x='30' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='30' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='30' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='30' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='30' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='30' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='30' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='30' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1046' x='30' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='30' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='90' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='90' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='90' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='90' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='90' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='90' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='90' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='90' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1046' x='90' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='90' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='150' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='150' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='150' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='150' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='150' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='150' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='150' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='150' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='150' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='150' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='210' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='210' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='210' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='210' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='210' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='210' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1046' x='210' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='210' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='210' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='210' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='270' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='270' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='270' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='270' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='270' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='270' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='270' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='270' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='270' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='270' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='330' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='330' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='330' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='330' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='330' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='330' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='330' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='330' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='330' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='330' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='390' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='390' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='390' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1046' x='390' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='390' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='390' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='390' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='390' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='390' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='390' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='450' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='450' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='450' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='450' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='450' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='450' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='450' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='450' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='450' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='450' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='510' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='510' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='510' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='510' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='510' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='510' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='510' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='510' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='510' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='510' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1046' x='570' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='570' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='570' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1046' x='570' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='570' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='570' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='570' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='570' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1046' x='570' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='570' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='630' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1042' x='630' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='630' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='630' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='630' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='630' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='630' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='630' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='630' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='630' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='690' y='30' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='690' y='90' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='690' y='150' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='690' y='210' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='690' y='270' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1045' x='690' y='330' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='690' y='390' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1041' x='690' y='450' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1043' x='690' y='510' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1044' x='690' y='570' stroke='rgba(186%2c 197%2c 209%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  border-radius: 10px 10px 0 0;
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.avatar img {
  /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
}

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }

  .site-nav {
    float: right;
  }

  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}

@media print {
  body {
    background-color: #fff;
  }

  .container {
    width: auto;
    max-width: 100%;
    padding: 0;
  }

  .cover,
  .cover-bg {
    border-radius: 0;
  }

  .cover.shadow-lg {
    box-shadow: none !important;
  }

  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important;
  }

  .avatar {
    margin-top: -10px;
  }

  .about-section {
    padding: 6.5rem 5rem 2rem !important;
  }

  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important;
  }

  .page-break {
    padding-top: 5rem;
    page-break-before: always;
  }
}