.competitive-programming-section {
    padding: 30px 0;
}

.competitive-programming-section h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.competitive-programming-section p {
    margin-bottom: 15px;
}

.list {
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px 24px;
    border-left: 2px solid #37BC9B;
}
